section
  section
    h2.title docker-compose

  section
    h3.title Definição
    blockquote.fragment.
      Compose é uma ferramenta para definir e rodar aplicações Docker multi-containers.

  section
    h3.title Como
    ol
      li.fragment.
        Defina o ambiente do seu app com um Dockerfile para que ele possa ser reproduzido em qualquer lugar
      li.fragment.
        Defina os serviços que geram o seu app em um arquivo docker-compose.yml para que eles rodem juntos e em um ambiente isolado
      li.fragment.
        Rode o comando docker-compose up e o Compose inicia e roda toda a sua aplicação

  section
    h3.title Demo
