section
  section
    h2.title Kitematic

  section
    h3.title Definição
    blockquote.fragment.
      Crie containers por uma simples, porém poderosa, interface gráfica

  section
    h3.title Como
    p.fragment.
      Agora é parte do Docker Toolbox (windows, mac)
    p.fragment.
      Para linux, precisa ser baixado direto pela releade do <a href="https://github.com/docker/kitematic/releases/" target="_blank">github</a>

  section
    h3.title Demos

