section
  section
    h2.title Dockerfile

  section
    h3.title Definition
    blockquote.fragment.
      É um documento de texto que contém todos os comandos que o usuário deve executar para a criar a imagem

  section
    h3.title Como
    ol
      li.fragment.
        Criar um arquivo chamado Dockerfile
      li.fragment.
        Definir todos os comandos necessários para criar sua imagem
      li.fragment.
        Execute seu comando

  section
    h3.title Demo
